@import "../../../node_modules/@blueprintjs/core/lib/scss/variables";

footer {
  width: 100%;
  height: 300px;
  margin-top: 50px;
  padding: 50px;
  background: $blue1;
  color: $white;
  text-align: center;

  a,
  button {
    color: $white !important;
  }

  .bp3-divider {
    background: $white !important;
  }

  p {
    margin-top: 20px;

    a {
      text-decoration: underline;
    }

    a:hover {
      text-decoration: none;
    }
  }
}
