@import "../../../node_modules/@blueprintjs/core/lib/scss/variables";

.logo {
  font-weight: bold;
  color: $blue1;
}

.logo:hover {
  text-decoration: none;
}

.bp3-popover-wrapper {
  button:focus {
    outline: none !important;
  }
}
